#no2{
    width: 500px;
    height: 50px;
    background: aqua;
    font-size: 32px;
    color:white;
    box-shadow: 0 0 5px 5px rgb(32, 255, 255);
    transform: skewX(-30deg) translateX(30px);
    /* -webkit-box-reflect: below 5px -webkit-linear-gradient(top, rgba(0,0,0, 0) 20%,rgba(0,0,0,.5) 100%); */
}