#no41{
    width: 700px;
    height: 500px;
    background-color:hotpink;
    border: 3px solid skyblue;
     font-size: 50px;
     
     
                      
               
} 
#no41 a{
    text-decoration-line: none;
    color:springgreen;
}         