#no57 {
    background-image: linear-gradient(-123deg, #00DFF6 0%, #03D5F4 7%, #254CD5 100%);
    color: whitesmoke;
    width: 100%;
    height: 88888px;
    border: 2px dashed skyblue;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    position: absolute;
    z-index: 99999999;
    top: 0;
    left: 0;
}